<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudmusic.mapper.ReceiveMapper">
  <resultMap id="BaseResultMap" type="com.cloudmusic.bean.ReceiveKey">
    <id column="song_id" jdbcType="BIGINT" property="songId" />
    <id column="playlist_id" jdbcType="BIGINT" property="playlistId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    song_id, playlist_id
  </sql>
  <select id="selectByExample" parameterType="com.cloudmusic.bean.ReceiveExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from receive
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.cloudmusic.bean.ReceiveKey">
    delete from receive
    where song_id = #{songId,jdbcType=BIGINT}
      and playlist_id = #{playlistId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.cloudmusic.bean.ReceiveExample">
    delete from receive
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cloudmusic.bean.ReceiveKey">
    insert into receive (song_id, playlist_id)
    values (#{songId,jdbcType=BIGINT}, #{playlistId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.cloudmusic.bean.ReceiveKey">
    insert into receive
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="songId != null">
        song_id,
      </if>
      <if test="playlistId != null">
        playlist_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="songId != null">
        #{songId,jdbcType=BIGINT},
      </if>
      <if test="playlistId != null">
        #{playlistId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cloudmusic.bean.ReceiveExample" resultType="java.lang.Integer">
    select count(*) from receive
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update receive
    <set>
      <if test="record.songId != null">
        song_id = #{record.songId,jdbcType=BIGINT},
      </if>
      <if test="record.playlistId != null">
        playlist_id = #{record.playlistId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update receive
    set song_id = #{record.songId,jdbcType=BIGINT},
      playlist_id = #{record.playlistId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>